fastapi
uvicorn
sqlalchemy
python-multipart
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
bcrypt
pydantic
pydantic-settings
pandas
openpyxl
numpy
python-dateutil
gunicorn
cloudinary
httpx
